/* Show it is fixed to the top */
.body {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }

/* new checkin */
.padding-bottom-checkin{
    padding-bottom: 25vh;
}
.result{
    font-size: 24px;
    text-align: center;
    color: #424242;
}
.result span{
    color: #0062BD;
}
.height-checkin{
    height: calc(100vh - 100px);
}




.w-33{
	width: 33% !important;
}
	/* Modal */
	.btn-textarea{
		font-size: 16px;
		text-align: left;
	    border: 1px solid #eee !important;
	    border-radius: 5px !important;
	    background: #fdfdfd;
	    /* color: #b5b5b5; */
	    color: #383838;
	    width: 100%;
		height: 90px;
		padding: 10px !important;   
		display: block; 
	}
	.btn-textarea.hint{
		color: #c5c5c5 !important;
	}
	.btn-textarea.input-text{
		color: #000 !important;
	}
	.modal-content{
		border: none;
		box-shadow: 0 0px 5px rgba(0,0,0, 0.3);
	}
	.modal-header{
		background: #3F72AF;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		padding: 0.7rem 1rem;
	}
	.modal-title{
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
	.modal-body{
		max-height: 500px;
    	overflow-y: scroll;
	}
	.close{
		color: #fff;
		opacity: 1;
	}
	.character-note{
		padding: 5px 0;
		font-size: 14px;
		color: #b5b5b5;
	}
	.suggestion-parent{
		display: inline-block;
	}
	.suggestion-item{
		padding: 9px 15px;
		border: 1px solid #7AA9ED;
	    color: #262626;
	    border-radius: 5px;
	    font-size: 14px;
	    line-height: 1;
	    background: #fff;
	    height: 38px;
	    
	    text-transform: capitalize;
	}
	.suggestion-item.active{
	    background: #D7E7FF;
	    border: 1px solid #0D59B5;
	}
	.modal-footer{
		border-top: 1px solid #A5C1D6;
	}
	.title-checkin{
		text-align: center;
		color: #0E61BF;
		font-weight: bold;
		padding: 3vh;
		margin-bottom: 0;
	}
	.input-search{
		border-bottom: 1px solid #D0D0D0 !important;
	}
	.input-search::placeholder{
		color: #999;
	}
	.input-search:focus{
		border-bottom: 1px solid #0E61BF !important;
	}
	.btn-search{
		background: transparent;
		color: #737373;
		border-bottom: 1px solid #D0D0D0 !important;
		border-radius: 0 !important;
	}
	.btn-search:hover, .btn-search:active, .btn-search:focus{
		background: transparent;
		color: #0062BD;
	}
	/* checkin list */
	.text-grey{
		color: #333; 
	}
	.title-checkin-list .item-left,
	.title-checkin-list .item-middle,
	.title-checkin-list .item-right{
		color: #0062BD;
		font-weight: bold;
	}
	
	.content-checkin-list .item-left,
	.content-checkin-list .item-middle,
	.content-checkin-list .item-right{
		color: #333;
	}
	.title-checkin-list .item-left,
	.content-checkin-list .item-left,{
		width: 60%;
		text-align: left;
	}
	.title-checkin-list .item-middle,
	.content-checkin-list .item-middle{
		width: 10%;
		text-align: center;
	}
	.title-checkin-list .item-right,
	.content-checkin-list .item-right{
		width: 20%;
		text-align: right;
	}

/* arrow expand or collapse */
.icon {
    cursor: pointer;  
    transition: transform 333ms ease-out, color 333ms;    
   	color: #383838;
 	margin-left:15px;
  	text-align:center;
  	line-height:1;
}
.btn-rotate.open .icon {
    fill: #3266D5;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  	color: #383838;
}



.dtp_main {
    border: solid 1px #eee;
    border-radius: 3px;
    background-color: #fff;
    padding: 8px 0 8px 8px;
}
.padding-right-0{
	padding-right: 0 !important;
}
html {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behaviour : smooth;

    -webkit-text-size-adjust: none;
	touch-action: manipulation;

    height: 100%;
}

body {
    min-height: 20rem;
    /* background-color: #fff; */
    font-family: myFirstFont;
    position: relative;
}
body.light{
    background-color: transparent !important;
}
body.dark{
    background-color: #001E2D !important;
}

@font-face {
    font-family: myFirstFont;
    src: url(../webfonts/SF-Pro-Display-Regular.ttf);
}


::-webkit-scrollbar {
    display: none;
}

.btn {
    border: none;
    position: relative;
    /* padding: 0.75rem; */
}

.btn.dropdown-toggle {
    padding: 5px 1rem;
}
.icon-edit{
    color: #333;
    font-size: 14px;
}
a:focus , a:hover{
    text-decoration: none;
}    

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.justify-content-evenly{
    justify-content: space-evenly !important;
}
.margin-top{
	margin-top: 2vh;
}

.bg-transparent{
	background-image: none !important;
}

/* error page */
.title-error{
	color: #0E61C3;
}
.text-error{
	color: #777;
}

.remove-all{
	padding-left: 12px;
}
.remove-all svg{
	color: #ff5f5f !important;
	font-size: 14px;
}
.title-group{
	padding-left: 12px;
	padding-top: 10px;
	color: #424242;
	text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
}
.min-max{
	color: #FF5959;
	font-size: 12px;
	text-transform: capitalize;
}	
label.radio .active{
 	border: 1px solid #0d59b5 !important;
    background: #E7F0FF !important;
    color: #0E61C3 !important;
}
/* start select option */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* end select option */



/* navbar Scrollspy */
/* vanila scrollspy */
.navbar-category {
    /* width: 300px; */
    width: calc(100vw - 15px);
    overflow-y: scroll;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* border-bottom: 1px solid #ddd; */
}

.navbar-brand>.navbar-item {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu .navbar-item {
    font-size: 15px;
    /* transition: background-color 0.26s, color 0.26s; */
    padding: 0.6rem 1rem 0.6rem 1rem;
    white-space: nowrap;
}

.navbar-menu a.navbar-item {
    color: #383838 !important;
}

.navbar-menu a.navbar-item.active {
   /*  background-color: #0e61c3; */
   font-weight: bold;
    color: #0e61c3 !important;
    border-radius: 0;
    border-bottom: 3px solid #0e61c3;
}
.content-scroll .container {
    padding: 0;
}

.navbar-item.active .content-scroll{
    padding-top: 92px;
    padding-bottom: 10px;
    width: 100%;
}
.content-scroll{
    /* margin-top: 50px; */
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}
.group-section{
    /* margin-top: 50px; */
    padding-top: 45px;
    padding-bottom: 73px;
}
/* end vanila scrollspy */



nav {
    width: 100%;
    /* max-width: 500px; */
    scroll-behavior: smooth;
  }
  
  .nav {
    flex-wrap: unset;
    flex-direction: row;
  }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}
.scrollspy-categories {
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 44px 0 78px 0;
}
.title-category{
    color: #0E61C3;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #0E61C3;
    padding: 0;
    margin: 0.5rem;
}
/* navbar */
body.light .sub-navbar-light{
    top: 44px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .18);
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
}
.services-bar .nav {
    overflow-x: scroll;
}

.navbar-top {
    padding: 4px 0;
}
.navbar-top .btn{
    padding: .375rem 1rem;
}

body.dark .navbar-dark {
    background-image: linear-gradient(to bottom, #0B3449, #0A4566) !important;
}
.dark .text-dark{
    color: white !important;
}
body.light .navbar-light {
    background-image: linear-gradient(to bottom, #001F4C, #0061C1) !important;
}
body.light .navbar-light.bg-transparent {
    background-image: none !important;
}
.bg-light .text-light{
    color: white !important;
}
.navbar.bottom.bg-light{
    background-image: none;
    background: #fff !important;
}

.bg-blue a {
    color: #fff;
}

.btn.height-button{
	height: 0;
}
.top-welcome.customer-info{
	height: calc(100% - 55px);
}
.title-bar {
    font-size: 20px;
    font-weight: bold;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0.1rem;
}

.nav-pills .nav-link {
    color: #333;
    border-radius: 5px;
    white-space: nowrap;
    scroll-snap-align: center;
}

.light .navbar-sub-light .nav-pills .nav-link.active,
.light .navbar-sub-light .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0E61C3;
    border-radius: 15px;
    font-size: 16px;
    scroll-snap-align: center;
}

.nav-link {
    padding: 0.24rem 1rem 0.4rem 1rem;
    font-size: 16px;
}

.fixed-top {
    position: fixed;
    z-index: 999;
    top: 43px;
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, .18); */
}

.menu-right {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu:hover{
    z-index: 1040 !important;
}




/* welcome */
body.welcome{
    background: url(../images/bg-welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    background-color: #fff !important;   /* change bg of status bar */
}
.light .welcome{
    color: #0E61BF;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vh !important;
    text-align: center;

    padding: 5vh;
}
.top-welcome{
    /* height: calc(100vh - 65px); */
    /* background: #eee; */
    height: 100%;
}
.powered-by{
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: auto; /*to preserve the aspect ratio of the image*/
    text-align: center;
}
.powered-by img {
    height: auto; 
    width: 150px;
    margin: 0 auto;
    padding-bottom: 0.5vh;
}
.logo{
    margin: 0 auto;
    text-align: center;
}
.logo img{
    width: 90px;
}
.light .name-restaurant{
    font-weight: bold;
    color: #0E61BF;
    text-align: center;
    line-height: 3.4vh;
    text-transform: capitalize;
    font-size: 3.2vh !important;
}
.welcome-column.two-column.padding-top-header{
    padding-top: 5vh;
}
.welcome-column.one-column.padding-top-header{
    padding-top: 4vh;
}
/* .welcome-column.two-column .restaurant-info{
    padding-bottom: 3.5vh;
}
.welcome-column.one-column .restaurant-info{
    padding-bottom: 2vh;
} */
.light .address{
    text-align: center;
    color: #565656;
    text-transform: capitalize;
}
.phone{
    font-weight: bold;
    color: #565656;
    text-align: center;
}
.icon-img{
    height: 16px;
    padding: 0 0 2px 0;
}
.icon-img.small{
    width: 20px;
    height: auto;
}

.welcome-column .group-button.two-column a{
    font-size: 14px;
    /* text-transform: capitalize; */
}
.welcome-column .group-button.two-column .btn-big .bg-inner.content-btn {
    padding: 8px 15px 14px 15px;
}

.welcome-column.two-column .padding-y-button{
    padding: 1vh 0;
}
.welcome-column.one-column .padding-y-button{
    padding: 0.2vh 0;
}
.welcome-column .group-button.two-column a{
    font-size: 14px;
}
.welcome-column .group-button.one-column a{
    font-size: 16px;
}
.welcome-column .group-button.two-column .btn-big .bg-inner.content-btn {
    padding: 12px 15px 13px 15px;
}
.welcome-column .group-button.one-column .btn-big .bg-inner.content-btn {
    padding: 12px 20px 13px 20px;
}
.welcome-column .group-button.one-column .btn-big .bg-inner.content-btn.padding {
    padding: 11px 20px 13px 20px;
}

.welcome-column .group-button.two-column{
    padding: 2vh 0;
}

.welcome-column .group-button.one-column{
    padding: 3vh 0;
}

.statusbar-overlay {
    background: #000;
    opacity: 0;
}

/* card */
.margin-cards {
    margin-top: 44px;
    margin-bottom: 70px;
}

.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121;
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121;
}

.card {
    /* width: fit-content; */
}


.wrap-card{
	/* border: 1px solid #ddd; */
}
.img-thumbnail {
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 150px;
}

.card {
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, .2); */
    border-radius: 5px;
    /* background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515)); */
    border-color: #F1F1F1;
}
.card.selected{
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F8FFF8), color-stop(1, #F8FFF8));
	border-width: 1px;
	border-color: #00CC14;	
}
.card.selected .card-title{
	color: #333;
	font-weight: 600;
}
.card.selected .card-body{
	background: #F8FFF8;
}
.card.selected .form-control{
	background: #F8FFF8;
}

.card-title {
    text-align: left;
    color: #000;
    font-weight: 500;
    margin-bottom: .25rem;
    padding-right: 10px;
    font-size: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description {
    font-size: 12px;
    color: #909090;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.1;

    /* truncate */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
   /*  background: white; */
    padding-right: 5px;
    /* resize: horizontal; */
}
.card-description.empty {
		height: 2px;
		
}

.btn-sub {
    border-radius: 50%;
    background-color: #212121;
    width: 20px;
    height: 20px;
}

.card-body {
    padding: 5px 0 0 10px;
    background: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.card-price {
    margin-block-end: 0;
    font-size: 14px;
    color: #0E61C3;
    font-weight: 500;
}

.icon-blue {
    font-size: 22px;
    color: #0E61C3;
}

.icon-grey {
    font-size: 22px;
    color: #909090;
}

.icon-grey.small {
    font-size: 16px;
    color: #909090;
}
.icon-white {
    font-size: 18px;
    color: #fff;
}

.icon-white.small {
    font-size: 16px;
    color: #fff;
    padding-top: 2px;
}

.num-food {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
}

.svg-inline--fa {
    vertical-align: -0.2em;
    margin-top: 1px;
}
.card-table{
	border: 1px dashed #85C4FF;
	border-radius: 20px;
	padding: 5px 0;
}
.table-name{
	color: #0062BD;
	font-size: 23px;
	font-weight: bold;
}

/* bottom */
.navbar.shadow-top {
    box-shadow: 0px -2px 2px rgb(87 87 87 / 30%);
}

.padding-bottom-bar {
    padding: 0 0 0 0;
}

.total {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1;
    margin-top: 3px;
    color: #0E61C3;
}
.total.line-height{
	line-height: 1.5;
}
.total.text-blue{
	color: #0E61C3;
}

.btn-cancel {
    background-color: #fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    background: #D15E5E;
    padding: 1px 2px 4px 2px !important;
}
.btn-cancel .bg-inner {
    background: #fff;
    border-radius: 8px;
    padding: 0 0 0 0;
}

.btn-cancel .bg-inner.content-btn {
    padding: 7px 1px 8px 1px;
    /* change padding fit content */
    background: #fff;
    border-radius: 8px;
    border-top: 1px solid #D15E5E;
    margin-top: -1px;
}
.btn-cancel:hover .bg-inner.content-btn{
	    background: #D15E5E;
}
.btn-cancel:hover .bg-inner.content-btn .text-red{
	    color: #fff;
}
.btn-cancel:hover .text-red{
	padding: 20px 0;
}
.text-red{
	color:  #D15E5E;
	font-size: 14px;
}	

.btn-submit {
    background-color: #fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    background: #3F72AF;
    padding: 1px 2px 4px 2px !important;
}
.btn-submit .bg-inner {
    background: #fff;
    border-radius: 8px;
    padding: 0 0 0 0;
}
.suggestion-title{
	color: #686868;
	font-weight: bold;
	position: relative;
}
.suggestion-title::after{
	 content:" ";
	  height: 1px;
	  width: calc(100% - 102px);
	  background:  #eee;
	  display: block;
	  position: absolute;
	  top: 54%;
	  right: 0;
}

.btn-submit .bg-inner.content-btn {
    padding: 7px 1px 8px 1px;
    /* change padding fit content */
    background: #fff;
    border-radius: 8px;
    border-top: 1px solid #3F72AF;
    margin-top: -1px;
}
.btn-submit:hover .bg-inner.content-btn{
	    background: #3F72AF;;
}
.btn-submit:hover .bg-inner.content-btn .text-blue{
	    color: #fff;
}
.btn-submit:hover .text-blue{
	padding: 20px 0;
}	
.text-blue{
	color: #3F72AF;
	font-size: 14px;
}

.btn-my-order {
    background-color: #fff;
    border-radius: 5px;
    color: #0E61C3;
    font-weight: 500;
    font-size: 18px;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515)); */
    padding: 1px 1px 2px 1px;
}

.btn-my-order .bg-inner {
    background: #fff;
    border-radius: 5px;
    padding: 0 0 0 0;
}

.btn-my-order .bg-inner.content-btn {
    padding: 7px 1px 8px 1px;
    /* change padding fit content */
    background: #fff;
    border-radius: 5px;
}
.btn-my-order .bg-inner.content-btn.padding {
	padding: 12px 1px 13px 1px;
}
.btn-add-to-order .bg-inner.content-btn .text-price {
    font-size: 16px;
    width: 30%;
    text-align: right;
}

.btn-add-to-order .bg-inner.content-btn .text-empty {
    opacity: 0;
    width: 30%;
    text-align: left;
    /* width: 12px; */
}
.welcome-column .btn-add-to-order .bg-inner.content-btn .text-empty {
    opacity: 0;
    width: 12px;
}
.my-order {
    font-size: 12px;
    line-height: 1;
    color: #0E61C3;
}

.icon-cart {
    font-size: 12px;
}

.btn-add-to-order {
    background-color: #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    /* background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515)); */
    /* padding: 1px 2px 2px 2px; */
    /* change border here */



    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AF7515), color-stop(0.5, #F7E196), color-stop(1, #AF7515));
    padding: 1px 1px 2px 1px; /* change border here */
}

.btn-add-to-order .bg-inner {
    /* background-image: linear-gradient(#0061C1, #001F4C); */

    border-radius: 50px;
}
.btn .text-white, .btn .text-normal{
	color: #fff !important;
	font-weight: bold;
	font-size: 14px;
}

.btn-add-to-order .bg-inner.content-btn {
    padding: 12px 15px 13px 15px;
    /* change padding fit content */
    background-image: linear-gradient(#008cff, #002C60);
    border-radius: 50px;
}

.btn-add-to-order:hover .bg-inner.content-btn,
.btn-add-to-order:focus .bg-inner.content-btn {
    background-image: linear-gradient(#002C60, #008cff);
    border-radius: 50px;
    color: #fff;
}

.btn-cancel-red {
    background-color: #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AF7515), color-stop(0.5, #F7E196), color-stop(1, #AF7515));
    padding: 1px 1px 2px 1px; /* change border here */
}
.btn-cancel-red .bg-inner.content-btn {
    padding: 12px 15px 13px 15px;
    /* change padding fit content */
    background-image: linear-gradient(#ff5c36, #6a0000);
    border-radius: 50px;
}

.btn-cancel-red:hover .bg-inner.content-btn,
.btn-cancel-red:focus .bg-inner.content-btn {
    background-image: linear-gradient(#6a0000, #ff5c36);
    border-radius: 50px;
    color: #fff;
}

.card-tight-up{
	/* border: 1px solid #ddd; */
    border-radius: 5px;
    /* box-shadow: 0 0px 3px rgba(135, 135, 135, 0.5); */
    height: 50px; 
    padding: 10px;
    background: #ECF6FF;
}

/* Floating button  */
.floating-button {
    /* position: relative; */
}

.btn-floating {
    position: absolute;
    right: -14px;
    bottom: 50px;
    background: #8cd302;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    bottom: 115px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    padding: 0.05rem 4px 0.09rem 7px !important;

}

.icon-white-big {
    color: #fff;
    font-size: 15px;
}

#minusPlus {
    display: none;
}

.padding-top {
    padding-top: 0.1rem !important;
}

.btn.disabled.opacity-0 {
    opacity: 0;
}



/* my order */
.card.bg-white {
    background: #fff;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    padding: 10px;
}

.normal-text {
    color: #909090;
    font-size: 14px;
}

.sub-items #minusPlus {
    display: block;
}

.normal-radius {
    border-radius: 5px;
}

.card-related .add-to-order {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.icon-add-blue {
    font-size: 44px;
    color: #0E61C3;
    background: #fff;
    border-radius: 50%;
    padding: 1px;
}

.button-right {
    position: absolute;
    right: 0;
    top: 10px;
}

.btn-add-order {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

/* swiper for related dish */

.swiper {
    width: 300px;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Minus and Plus Button */
.min-add-button {
    width: 300px;
    margin: 20px auto;
}

.min-add-button a {
    background: #ed8203;
    color: #fff;
    border: 0px;
    padding: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.min-add-button a:hover {
    background: #000;
}

.min-add-button input {
    height: 55px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: #ed8203;
}
.group-minus-plus.small input.quantity{
    font-size: 16px !important;
    width: 20px;
}
.quantity {
    border: none;
    width: 15%;
    padding: 0;
    text-align: center;
    height: auto;
    font-size: 16px !important;
}

.sub-items {
    padding: 0;
    padding-bottom: 70px;
}


/* ul li scroll horizontal */
ul.horizontal-slide {
    display: flex;
    margin: 5px;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
}

ul.horizontal-slide li[class*="span"] {
    display: inline-flex;
    float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
    margin-left: 0;
}


/* multi-checkbox */
ul.multi-checkbox {
    margin: 5px;
    padding: 0;
}

ul.multi-checkbox li[class*="span"] {
    display: inline-block;
    float: left;
}

ul.multi-checkbox li[class*="span"]:first-child {
    margin-left: 0;
}


/* custom input textbox */
.color-a{
	color: #333;
}
	.input-label.require{
		color: #FF3535 !important;
	}
 .input-custom{
	 background: #fff;
     padding: 0 13px !important;
     font-size: 16px !important;
}
 #form {
	 margin: 0 auto;
}
 .input-box.active-grey .input-custom {
	 border: 1px solid #dadce0;
}
 .input-box.active-grey .input-label {
	 color: #80868b;
	 top: -13px;
	 background: #fff;
	 font-size: 11px;
	 transition: 250ms;
     padding: 5px 8px;
}
 .input-box.active-grey .input-label svg {
	 position: relative;
	 width: 11px;
	 height: 11px;
	 top: 2px;
	 transition: 250ms;
}
 .input-box {
	 position: relative;
}
 .input-box .input-label {
	 position: absolute;
	 color: #80868b;
	 font-size: 16px;
	 font-weight: 400;
	 /* max-width: calc(100% - (2 * 8px)); */
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 left: 5px;
	 top: 7px;
	 padding: 0 5px;
	 transition: 250ms;
	 user-select: none;
	 pointer-events: none;
}
 .input-box .input-label svg {
	 position: relative;
	 width: 15px;
	 height: 15px;
	 top: 2px;
	 transition: 250ms;
}
 .input-box .input-custom {
	 box-sizing: border-box;
	 height: 50px;
	 width: 100%;
	 border-radius: 5px !important;
	 color: #202124;
	 border: 1px solid #dadce0 !important;
	 padding: 13px 15px;
	 transition: 250ms;

     /* box shadow for safari */
     -webkit-appearance: none;
     -webkit-box-shadow: 0 0px 3px rgba(135, 135, 135, 0.5) !important;
     box-shadow: 0 0px 3px rgba(135, 135, 135, 0.5) !important;
}
 .input-box .input-custom:focus {
	 outline: none;
	 border: 1px solid rgb(14, 97, 191) !important;
	 transition: 250ms;
     /* box shadow for safari */
     -webkit-appearance: none;
     -webkit-box-shadow: 0 0px 5px rgba(14, 97, 191, 0.5) !important;
     box-shadow: 0 0px 3px rgba(14, 97, 191, 0.5) !important;
}
.input-box.error.focus .input-label
{
	 color: #f44336;
	 top: -18px;
     left: 5px;
	 background: #fff;
	 font-size: 11px;
	 transition: 250ms;
}
 .input-box.error .input-label {
	 color: #f44336;
	 top: -13px;
     left: 5px;
	 background: #fff;
	 font-size: 11px;
	 transition: 250ms;
}
.input-box .error-label {
    display: none;
}
.input-box.error .error-label {
    display: block;
    color: #f44336;
    font-size: 15px;
    transition: 250ms;
}
.input-box.error .input-custom:focus,
 .input-box.error .input-custom {
	 border: 1px solid #f44336 !important;
     left: 5px;
}

 .input-box.focus .input-label, .input-box.active .input-label {
	 color: #0E61BF;
	 top: -17px;
	 background: #fff;
	 font-size: 11px;
	 transition: 250ms;
     border-radius: 5px;
     padding: 5px 5px;
}
 .input-box.focus .input-label svg, .input-box.active .input-label svg {
	 position: relative;
	 width: 11px;
	 height: 11px;
	 top: 2px;
	 transition: 250ms;
}
.input-box .input-custom:focus ,
 .input-box.active .input-custom {
	 border: 1px solid #0E61BF !important;
    /* box shadow for safari */
     -webkit-appearance: none;
     -webkit-box-shadow: 0 0px 3px rgba(135, 135, 135, 0.5) !important;
     box-shadow: 0 0px 3px rgba(135, 135, 135, 0.5) !important;
}

 


/* customer radio button  */

label {
    margin: 5px;
}

label.radio {
    cursor: pointer;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio .item {
    padding: 9px 15px;
    border: 1px solid #7aa9ed;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    /* height: 38px; */
}

label.radio .group-item {
    padding: 3px 15px;
    border: 1px solid #7aa9ed;
    color: #262626;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    background: #fff;
    height: 38px;
}

label.radio input:checked+.item {
    border: 1px solid #0d59b5;
    background: #d7e7ff;
}

label.radio input:checked+.group-item {
    border: 1px solid #0d59b5;
    background: #d7e7ff;
    color: #0E61C3;
}

label.radio input:checked+.item .text-top {
    color: #0E61C3 !important;
}

label.radio input:checked+.group-item .text-top {
    color: #0E61C3 !important;
}

.text-top {
    color: #616161;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    padding: 2px 0;
}

.text-bottom {
    color: #7A7A7A;
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 2px 0;
}

/* custom input with label */
form{
    z-index: 9;
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 0;
    transition: all 300ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

input,
textarea {
    background-color: #fff;
    /* padding: 8px 0px 8px 0px !important; */
    padding: 0 !important;
    width: 100%;
    border-radius: 0 !important;
    box-sizing: border-box;
    border: 1px solid transparent !important;
    font-size: 18px !important;
    color: #000 !important;
    font-weight: 300;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #D32F2F !important;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}


/* My order */
.sub-items.no-border .card{
	border: 1px solid transparent;
	border-bottom: 1px solid #ddd;
	border-radius: 0 !important;
	
	margin: 5px 0;
}
.sub-items.no-border .panel.active .card{
	border-radius: 5px !important;
}

/* expand and collapse */

.sub-items .card {
    border-radius: 0;
    border-bottom: 1px solid #eee;
    border-radius: 5px !important;
    padding: 0;
    /* margin: 1rem 1rem !important; */
    /* box-shadow: 0 0 4px rgb(87 87 87 / 50%); */
    /* border-color: #EBF6FF; */
    background: #fff;
}

.sub-items .panel.active .card {
    border: 1px solid #CFE8FF;
    background: #EBF6FF;
}
.card.active {
    background: #EBF6FF;
    border:  1px solid #0d59b5;
}
.card.active .right-detail-food{
    justify-content: space-between !important;
}

.card .blue-line{
    border-top: 1px solid #bad1e5;
    margin: 0.5rem 0 0 0;
}
.card .blue-line-empty{
    border-top: 1px solid transparent;
    margin: 0 0 0.5rem 0;
}
.card.active .blue-line{
    border-color:  #bad1e5;
}


.sub-items .panel.active .panel-heading.de-active {
    background: transparent;
}
.panel .panel-collapse.show .panel-body{
	border-top: 1px solid transparent;
	background: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.panel.active .panel-collapse.show .panel-body{
	border-top: 1px solid #e1ebf9;
    background: #F9FCFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.panel .panel-collapse.show{
    /* background: transparent; */
    background: #fdfdfd;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.panel .panel-collapse.show .panel-body{
    border-top: 1px solid #eee;
}
.sub-items .card.non-active {
    border: 1px solid #0d59b5;
}
.sub-items .card.thin-shadow.active {
    box-shadow: 0;
    border: none;
}
.card-thin-shadow{
    padding: 0.5rem 0;
}
.card.thin-shadow.no-background{
	background: transparent;	
}
.card.thin-shadow.no-background .description{
	background: transparent;	
	padding: 0;
}
.sub-items.no-border .card.thin-shadow {
    box-shadow: none;
    border: none;
    border-radius: 5px !important;
   /*  border-bottom: 1px solid #eee; */
}
.sub-items .card.thin-shadow {
    /* box-shadow: 0 0 1px rgb(87 87 87 / 90%); */
    /* border: 1px solid #eee; */
}
.sub-items .card.no-shadow {
    box-shadow: none;
}

.sub-items .card-header {
    /* background-color: #EBF6FF; */
    background: #fff;
    padding: 0.75rem;
    border: none;
}

.sub-items .card-header .collapse {
    background: #EBF6FF;
    border: 1px solid #eee;
}
.card.thin-shadow{
	/* background: #fdfdfd; */
}



.sub-items .card-header a.btn-link:hover {
    text-decoration: none;
}

.sub-items .card-body {
    padding: 10px 12px 10px 10px;
    /* background: #EBF6FF; */
    background: #fff;
}

.sub-items .card-title {
    color: #383838;
    margin-bottom: 0;
    line-height: 1;
    padding: 2px 0 4px 0;
}

.sub-items .card-price {
    font-size: 20px;
     color: #0E61C3;
    font-weight: 400;
    line-height: 1.5;
}

.sub-items .card-price.small {
    font-size: 16px;
    color: #383838;
    font-weight: 400;
    width: 57px;
    padding: 8px 0;
}
.sub-items .card-price.small-top {
    font-size: 16px;
    color: #616161;
}
.sub-items .card-price.small-right {
    font-size: 16px;
    /* color: #0E61C3; */
}
.title-small{
	font-size: 13px;
}

.sub-items .img-thumbnail {
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515));
    padding: 1px;
}

.sub-items .quantity {
    background: transparent;
}

.sub-items .card-price.small.total {
    color: #0E61C3;
    font-size: 18px;
    padding: 5px 0 5px 0;
}

.sub-items .btn {
    padding: 0 0.74rem 0 0.74rem;
}
.group-minus-plus.small .btn{
    padding: 0 1.75vh 0 1.75vh !important;
}

.sub-items .btn-add-to-order {
    padding: 1px 2px 2px 2px !important;
}
.panel-title{
    margin-bottom: 0.5rem;
}
.icon-arrow-up{
    display: none ;
}
.sub-items .total {
    margin-top: 0;
}

.margin-row {
    margin: 0 -8px 0 0;
}

.row-flex .card-price {
    height: 100%;
    padding: 2px 0;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/* .line-bottom{
    display: none;
  } */
.dont-show-line {
    height: 100%;
    padding: 15px 0;
    border-bottom: 1px solid transparent;
}

.show-line {
    /* height: 100%; */
    /* padding: 15px 5px 15px 0; */
    border-bottom: 1px solid #bad1e5;
}
.opacity-0{
    opacity: 0 !important;
}

.right-content {
    padding: 0;
    margin-right: 1rem;
}
.right-content-top {
    padding: 0;
    margin-top: -0.3rem;
}
.right-content-bottom {
    padding: 0;
    margin-bottom: -4px;
}

.margin-right-back {
    margin-right: -1.9rem;
}
.margin-left-back {
    /* margin-left: -0.9rem; */
    margin-left: -1.5vh;
}


.btn.btn-arrow-down {
    padding: 0.375rem 1.2rem;
}

.icon-arrow-title {
    font-size: 20px;
    color: #383838;
}

.margin-right-line {
    margin: 0 1rem 1rem 0 !important;
}

.sub-items .icon-blue-big {
    font-size: 22px;
    color: #0E61C3;
}

.sub-items .icon-grey-big {
    font-size: 22px;
    color: #909090;
}

.sub-items .icon-grey {
    color: #BFBFBF;
}

.sub-items .icon-blue {
    color: #61A6E5;
}

.sub-items .line-seperate {
    margin: 0.3rem 0;
    border-top: 1px solid #bad1e5;
}

.title-add-item {
    color: #0E61C3;
    font-weight: bold;
    font-size: 16px;
    /* border-bottom: 1px solid #dbe2e9; */
    /* padding: 15px 1rem 0.5rem 1rem; */
    padding: 15px 0 0 0;
    margin-bottom: 0;
}

.card .form-group {
    margin-bottom: 0 !important;
}
.card.no-card{
    /* border: 1px solid #eee; */
    border-radius: 11px !important;
}

.form-control.textarea {
    background: #fdfdfd;
    padding: 10px !important;
    font-size: 14px !important;
    border-radius: 11px !important;
    box-shadow: 0 0 1px rgb(52 52 52 / 100%) !important;
    border: 1px solid #eee !important;
    border-radius: 5px !important;
    background: #fdfdfd;
}

.form-control.textarea:focus {
    border: 1px solid #0d59b5 !important;
}
.form-control.textarea:visited {
    border: 1px solid red !important;
    box-shadow: 0 0 1px rgb(87 87 87 / 50%);
}


.form-group .textarea::placeholder {
    color: #c5c5c5;
}

.description {
    font-size: 16px;
    color: #383838;
    padding: 8px 10px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: justify;
}

.sub-items .name-item {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 16px;
    padding: 8px 0;
    text-transform: capitalize;
}
.sub-items .name-item.total {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: normal;
}    

.text-sub-total{
    color: #383838;
}
.sub-total{
	font-size: 18px !important;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}
.btn-arrow-title{
    padding: 0.09rem 0.75rem !important;
}

.panel-heading {
    padding: 0;
    border: 0;
    padding: 1rem 0.75rem 1rem 0.75rem;
    border-radius: 11px;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 10px;
    color: #555;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}
.padding-x{
    padding: 4px 12px 4px 12px;
}
.fa-long-arrow-down:before {
    content: "\f175"; 
}

.card.active .btn-arrow-title {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);         /* use rotate arrow */
}

.card .panel-heading .btn-arrow-title.right {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);        /* use rotate arrow */
    margin-right: -0.7rem;
}

.card.active .btn-arrow-title.right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);         /* use rotate arrow */
    margin-right: 0.2rem;
    padding: 0 !important;
}

.panel-default>.panel-heading {
    color: #282b2f;
    background-color: transparent !important;
    border-color: #d5d5d5;
}
.panel-default>.panel-heading.active{
    background-color: #EBF6FF !important;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel-default>.panel-heading.active .quantity{
    background-color: transparent !important;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.15;
        position: relative
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: -8.66667px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 24px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7
}

.option-input:checked {
    background: #2874ef
}

.option-input:checked:before {
    height: 24px;
    width: 24px;
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 14.66667px;
    text-align: center;
    line-height: 26px;
}

.option-input:checked:after {
    -webkit-animation: click-wave 0.15s;
    -moz-animation: click-wave 0.15s;
    animation: click-wave 0.15s;
    background: #E91E63;
    content: '';
    display: block;
    position: relative;
    z-index: 100
}

.option-input.radio {
    border-radius: 50%
}

.option-input.radio::after {
    border-radius: 50%
}


.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -4px !important;
    margin-top: 9px;
}


input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.ml-10 {
    margin-left: 10px;
    font-size: 12px;
    color: #080808;
}



.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}



.fa {
    font-size: 12px;
    color: #2874ef;
}


.refine {
    padding: 0px 0px !important;
}

.filters-text {

    background: #fff;
    border: 1px solid #d5d5d5;
    margin-bottom: 15px;
    padding: 12px;

}

.filter-span {
    font-size: 17px;
    color: #2874ef;
}

/* receipt */
.receipt p{
    margin-bottom: 0;
}
.receipt .panel-title{
    margin-bottom: 0;
}
.receipt .title-card-item{
    color: #0E61C3;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #a5a5a5;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
}
.title-receipt .icon-big-blue{
    color: #0E61C3;
    font-size: 28px;
}
.title-receipt h4{
    color: #0E61C3;
    margin-bottom: 0;
    font-style: italic;
    padding: 10px 0;
}
.receipt .title-order .item-left{
    color: #0E61C3;
    margin-bottom: 0;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.2;
    width: 60%;
}
.receipt .item-left.remark{
    color: #383838 !important;
    font-style: italic;
}
.item-left.width{
    width: 60%;
}
.color-blue{
    color: #0E61C3 !important;
}
.item-blue{
    color: #0E61C3;
    width: 60%;
}
.item-right{
    color: #383838;
    margin-bottom: 0;
    padding: 5px 0;
}
.sub-item .item-left, .sub-item .item-middle,
.sub-item .item-right{
    font-size: 16px;
    padding: 5px 0;
}
.title-order .item-left, .title-order .item-middle, .title-order .item-right{
    font-size: 18px;
}
.receipt .sub-item .item-left{
    padding-left: 1rem;
    color: #666
}
.receipt .item-left.info{
    color: #666
}
.border-bottom-grey{
    border-bottom: 1px solid #d7d7d7;
}
.border-top-grey{
    border-top: 1px solid #d7d7d7;
}
.title-order .item-right,
.item-price{
    width: 23%;
    text-align: right;
}
.d-flex.d-none{
    display: none !important;
}
.text-price.text-normal{
    font-weight: 400;
}
.color-red{
    color: #d14040 !important;
}
.pmt-summary .item-right{
    width: 30%;
}
.pmt-summary .item-left.color-grey{
    color: #383838 !important;
}

.total-order p{
    font-size: 20px;
    font-weight: bold;
}
.btn-add-to-order.btn-big{
    flex: 1 1;
}


/* responsive  */
@media (min-width: 768px){
    .sub-items .name-item {
        width: 21%;
    }
    .navbar.fixed-bottom .scale-width{
        justify-content: space-around !important;
    }
    .btn-add-to-order.btn-big{
        flex: 0 0 auto;
    }
    .btn-my-order, .btn-add-to-order{
        width: 50%;
        /* flex: 0 0 auto !important; */
        justify-content: center !important;
    }
    .justify-button-single{
        width: 50%;
        /* flex: 0 0 auto !important; */
        justify-content: center !important;
    }
    .justify-button-double{
        width: 50%;
        /* flex: 0 0 auto !important; */
        justify-content: space-evenly !important;
    }
}

@media (min-width: 992px){
    .navbar.fixed-bottom .scale-width{
        justify-content: space-around !important;
    }
    .btn-my-order, .btn-add-to-order{
        max-width: 30%;
        /* flex: 0 0 auto !important; */
    }
    .welcome-column .btn-add-to-order{
        max-width: 100%;
    }

}