/* Show it is fixed to the top */
html {
    max-width: 100%;
    overflow-x: hidden;

    -webkit-text-size-adjust: none;
	touch-action: manipulation;
}

body {
    min-height: 20rem;
    background-color: #fff;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(../webfonts/SF-Pro-Display-Regular.ttf);
}


::-webkit-scrollbar {
    display: none;
}

.btn {
    border: none;
    /* padding: 0.75rem; */
}

.btn.dropdown-toggle {
    padding: 5px 1rem;
}
.icon-edit{
    color: #333;
    font-size: 14px;
}
a:focus , a:hover{
    text-decoration: none;
}    

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* navbar */
.services-bar .nav {
    overflow-x: scroll;
}

.navbar-top {
    padding: 4px 8px;
}

.bg-blue {
    background-image: linear-gradient(to bottom, #001F4C, #0061C1);
}

.bg-blue a {
    color: #fff;
}

.title-bar {
    font-size: 20px;
    font-weight: 500;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0.1rem;
}

.nav-pills .nav-link {
    color: #333;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0E61C3;
    border-radius: 15px;
    font-size: 16px;
}

.nav-link {
    padding: 0.24rem 1rem 0.4rem 1rem;
    font-size: 16px;
}

.fixed-top {
    position: fixed;
    z-index: 999;
    top: 43px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .18);
}

.menu-right {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-toggle::after {
    display: none;
}



/* card */
.margin-cards {
    margin-top: 44px;
    margin-bottom: 58px;
}

.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121;
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121;
}

.card {
    /* width: fit-content; */
}


.img-thumbnail {
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
    padding: 0;
    border: none;
}

.card {
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, .2); */
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515));
}

.card-title {
    text-align: left;
    color: #000;
    font-weight: 500;
    margin-bottom: .25rem;
    padding-right: 10px;
}

.card-description {
    font-size: 12px;
    color: #909090;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.1;
    padding-right: 10px;

    /* truncate */
    width: 146px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    background: white;
    /* resize: horizontal; */
}

.btn-sub {
    border-radius: 50%;
    background-color: #212121;
    width: 20px;
    height: 20px;
}

.card-body {
    padding: 5px 0 0 10px;
    background: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.card-price {
    margin-block-end: 0;
    font-size: 14px;
    color: #0E61C3;
    font-weight: 500;
}

.icon-blue {
    font-size: 18px;
    color: #0E61C3;
}

.icon-grey {
    font-size: 18px;
    color: #909090;
}

.icon-white {
    font-size: 20px;
    color: #fff;
}

.num-food {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
}

.svg-inline--fa {
    vertical-align: -0.2em;
    margin-top: 1px;
}


/* bottom */
.navbar.shadow-top {
    box-shadow: 0px -2px 2px rgb(87 87 87 / 30%);
}

.padding-bottom-bar {
    padding: 0 0 0 0;
}

.total {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1;
    margin-top: 3px;
}


.btn-my-order {
    background-color: #fff;
    border-radius: 15px;
    color: #0E61C3;
    font-weight: 500;
    font-size: 18px;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, .2); */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515));
    padding: 1px 1px 2px 1px;
    /* change border here */
}

.btn-my-order .bg-inner {
    background: #fff;
    border-radius: 15px;
    padding: 0 0 0 0;
}

.btn-my-order .bg-inner .content-btn {
    padding: 7px 1px 7px 1px;
    /* change padding fit content */
    background: #fff;
    border-radius: 15px;
}


.btn-add-to-order .bg-inner .content-btn .text-price {
    font-size: 16px;
}

.btn-add-to-order .bg-inner .content-btn .text-empty {
    opacity: 0;
}

.my-order {
    font-size: 12px;
    line-height: 1;
}

.icon-cart {
    font-size: 12px;
}

.btn-add-to-order {
    background-color: #fff;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    /* background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515)); */
    /* padding: 1px 2px 2px 2px; */
    /* change border here */



    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AF7515), color-stop(0.5, #F7E196), color-stop(1, #AF7515));
    padding: 1px 2px 1px 2px; /* change border here */
}

.btn-add-to-order .bg-inner {
    /* background-image: linear-gradient(#0061C1, #001F4C); */

    border-radius: 15px;
}

.btn-add-to-order .bg-inner .content-btn {
    padding: 11px 15px 11px 15px;
    /* change padding fit content */
    background-image: linear-gradient(#008cff, #002C60);
    border-radius: 15px;
}

.btn-add-to-order:hover .bg-inner .content-btn,
.btn-add-to-order:focus .bg-inner .content-btn {
    background-image: linear-gradient(#001F4C, #0061C1);
    border-radius: 15px;
    color: #fff;
}



/* Floating button  */
.floating-button {
    /* position: relative; */
}

.btn-floating {
    position: absolute;
    right: -14px;
    bottom: 50px;
    background: #8cd302;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    bottom: 80px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    padding: 0.05rem 4px 0.09rem 7px !important;

}

.icon-white-big {
    color: #fff;
    font-size: 15px;
}

#minusPlus {
    display: none;
}

.padding-top {
    padding-top: 0.1rem !important;
}

.btn.disabled.opacity-0 {
    opacity: 0;
}



/* my order */
.card.bg-white {
    background: #fff;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    padding: 10px;
}

.normal-text {
    color: #909090;
    font-size: 14px;
}

.sub-items #minusPlus {
    display: block;
}

.normal-radius {
    border-radius: 10px;
}

.card-related .add-to-order {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.icon-add-blue {
    font-size: 44px;
    color: #0E61C3;
    background: #fff;
    border-radius: 50%;
    padding: 1px;
}

.button-right {
    position: absolute;
    right: 0;
    top: 10px;
}

.btn-add-order {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

/* swiper for related dish */

.swiper {
    width: 300px;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Minus and Plus Button */
.min-add-button {
    width: 300px;
    margin: 20px auto;
}

.min-add-button a {
    background: #ed8203;
    color: #fff;
    border: 0px;
    padding: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.min-add-button a:hover {
    background: #000;
}

.min-add-button input {
    height: 55px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: #ed8203;
}
.group-minus-plus.small input.quantity{
    font-size: 16px !important;
}
.quantity {
    border: none;
    width: 15%;
    padding: 0;
    text-align: center;
    height: auto;
}

.sub-items {
    padding: 0;
    margin-bottom: 78px;
}


/* ul li scroll horizontal */
ul.horizontal-slide {
    display: flex;
    margin: 5px;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
}

ul.horizontal-slide li[class*="span"] {
    display: inline-flex;
    float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
    margin-left: 0;
}


/* multi-checkbox */
ul.multi-checkbox {
    margin: 0;
    padding: 0;
}

ul.multi-checkbox li[class*="span"] {
    display: inline-block;
    float: left;
}

ul.multi-checkbox li[class*="span"]:first-child {
    margin-left: 0;
}


/* customer radio button  */

label {
    margin: 5px;
}

label.radio {
    cursor: pointer;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio .item {
    padding: 9px 15px;
    border: 1px solid #7aa9ed;
    color: #333;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1;
    /* height: 38px; */
}

label.radio .group-item {
    padding: 3px 15px;
    border: 1px solid #7aa9ed;
    color: #262626;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1;
    /* height: 38px; */
}

label.radio input:checked+.item {
    border: 1px solid #0d59b5;
    background: #d7e7ff;
    color: #0E61C3;
}

label.radio input:checked+.group-item {
    border: 1px solid #0d59b5;
    background: #d7e7ff;
    color: #0E61C3;
}

label.radio input:checked+.group-item .text-top {
    color: #0E61C3;
}

.text-top {
    color: #262626;
    display: block;
    text-align: center;
}

.text-bottom {
    color: #7A7A7A;
    display: block;
    text-align: center;
    font-size: 12px;
}

/* custom input with label */

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 0;
    transition: all 300ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

input,
textarea {
    background-color: #F3E5F5;
    /* padding: 8px 0px 8px 0px !important; */
    padding: 0 !important;
    width: 100%;
    border-radius: 0 !important;
    box-sizing: border-box;
    border: none !important;
    font-size: 18px !important;
    color: #000 !important;
    font-weight: 300;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #D32F2F !important;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}


/* expand and collapse */

.sub-items .card {
    border-radius: 0;
    border: 1px solid #eee;
    border-radius: 10px !important;
    padding: 0;
    margin: 15px 10px !important;
    box-shadow: 0 0 4px rgb(87 87 87 / 50%);
    /* border-color: #EBF6FF; */
    background: #fff;
    border-color: #fff;
}

.sub-items .card.active {
    border: 1px solid #0d59b5;
    background: #EBF6FF;
}
.sub-items .card.active .panel-heading.active {
    background: #EBF6FF;
}
.sub-items .card.active .panel-heading.de-active {
    background: transparent;
}
.panel-collapse.show{
    background: #EBF6FF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.sub-items .card.non-active {
    border: 1px solid #0d59b5;
}
.sub-items .card.no-shadow.active {
    box-shadow: 0;
    border: none;
}
.sub-items .card.no-shadow {
    box-shadow: 0 0 1px rgb(87 87 87 / 50%);
    /* border: 1px solid #eee; */
}

.sub-items .card-header {
    /* background-color: #EBF6FF; */
    background: #fff;
    padding: 0.75rem;
    border: none;
}

.sub-items .card-header .collapse {
    background: #EBF6FF;
    border: 1px solid #eee;
}



.sub-items .card-header a.btn-link:hover {
    text-decoration: none;
}

.sub-items .card-body {
    padding: 10px 12px 10px 10px;
    /* background: #EBF6FF; */
    background: #fff;
}

.sub-items .card-title {
    color: #383838;
    margin-bottom: 0;
    line-height: 1;
    padding: 2px 0 4px 0;
}

.sub-items .card-price {
    font-size: 20px;
     color: #0E61C3;
    font-weight: 400;
    line-height: 1.5;
}

.sub-items .card-price.small {
    font-size: 16px;
    color: #383838;
    font-weight: 400;
    width: 106px;
    padding: 5px 0;
}
.sub-items .card-price.small-top {
    font-size: 18px;
    color: #383838;
}
.sub-items .card-price.small-right {
    font-size: 16px;
    /* color: #0E61C3; */
}


.sub-items .img-thumbnail {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #AF7515), color-stop(0.5, #E0C98B), color-stop(0.9, #F7E196), color-stop(1, #AF7515));
    padding: 1px;
}

.sub-items .quantity {
    background: transparent;
}

.sub-items .card-price.small.total {
    color: #0E61C3;
    font-size: 18px;
    padding: 5px 0 5px 0;
}

.sub-items .btn {
    padding: 0.3rem 0.9rem 0.1rem 0.9rem;
}

.sub-items .btn-add-to-order {
    padding: 1px 2px 2px 2px;
}
.panel-title{
    margin-bottom: 0.5rem;
}
.icon-arrow-up{
    display: none ;
}
.sub-items .total {
    margin-top: 0;
}

.margin-row {
    margin: 0 -8px 0 0;
}

.row-flex .card-price {
    height: 100%;
    padding: 2px 0;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/* .line-bottom{
    display: none;
  } */
.dont-show-line {
    height: 100%;
    padding: 15px 0;
    border-bottom: 1px solid transparent;
}

.show-line {
    /* height: 100%; */
    /* padding: 15px 5px 15px 0; */
    border-bottom: 1px solid #bad1e5;
}
.opacity-0{
    opacity: 0 !important;
}
.blue-line{
    display: none;
    border-bottom: 1px solid #bad1e5;
    margin: 8px 0 0 0;
}
.right-content {
    padding: 0;
    margin-right: 1rem;
}
.right-content-top {
    padding: 0;
    margin-top: -0.3rem;
}
.right-content-bottom {
    padding: 0;
    margin-bottom: -4px;
}

.margin-right-back {
    margin-right: -1.9rem;
}
.margin-left-back {
    margin-left: -0.9rem;
}


.btn.btn-arrow-down {
    padding: 0.375rem 1.2rem;
}

.icon-arrow-title {
    font-size: 20px;
    color: #383838;
}

.margin-right-line {
    margin: 0 1rem 1rem 0 !important;
}

.sub-items .icon-blue-big {
    font-size: 22px;
    color: #0E61C3;
}

.sub-items .icon-grey-big {
    font-size: 22px;
    color: #909090;
}

.sub-items .icon-grey {
    color: #BFBFBF;
}

.sub-items .icon-blue {
    color: #61A6E5;
}

.sub-items .line-seperate {
    margin: 0.3rem 0;
    border-top: 1px solid #bad1e5;
}

.title-add-item {
    color: #0E61C3;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #0E61C3;
    padding: 15px 10px 5px 10px;
    margin-bottom: 0.7rem;
}

.card .form-group {
    margin-bottom: 0 !important;
}
.card.no-card{
    /* border: 1px solid #eee; */
    border-radius: 11px !important;
}

.form-control.textarea {
    background: transparent;
    padding: 10px !important;
    font-size: 16px !important;
    border-radius: 11px !important;
    /* border: 1px solid #0d59b5 !important; */
}

.form-control.textarea:focus {
    border: 1px solid #0d59b5 !important;
}

.form-group .textarea::placeholder {
    color: #c5c5c5;
}

.description {
    font-size: 16px;
    color: #383838;
    padding: 8px 10px;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: justify;
}

.sub-items .name-item {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 8px 0;
}
.sub-items .name-item.total {
    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: normal;
}    

.text-sub-total{
    color: #383838;
}


@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}
.btn-arrow-title{
    padding: 0.09rem 0.75rem !important;
}

.panel-heading {
    padding: 0;
    border: 0;
    padding: 0.6rem 0.75rem 0.75rem 0.75rem;
    border-radius: 11px;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 10px;
    color: #555;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}
.padding-x{
    padding: 0 12px 8px 12px;
}
.fa-long-arrow-down:before {
    content: "\f175"; 
}

.panel-heading.active .btn-arrow-title {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);         /* use rotate arrow */
}

.panel-heading .btn-arrow-title.right {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);        /* use rotate arrow */
    margin-right: -0.7rem;
}

.panel-heading.active .btn-arrow-title.right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);         /* use rotate arrow */
    margin-right: 0.2rem;
    padding: 0 !important;
}

.panel-default>.panel-heading {
    color: #282b2f;
    background-color: transparent !important;
    border-color: #d5d5d5;
}
.panel-default>.panel-heading.active{
    background-color: #EBF6FF !important;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.panel-default>.panel-heading.active .quantity{
    background-color: transparent !important;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.15;
        position: relative
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: -8.66667px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 24px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7
}

.option-input:checked {
    background: #2874ef
}

.option-input:checked:before {
    height: 24px;
    width: 24px;
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 14.66667px;
    text-align: center;
    line-height: 26px;
}

.option-input:checked:after {
    -webkit-animation: click-wave 0.15s;
    -moz-animation: click-wave 0.15s;
    animation: click-wave 0.15s;
    background: #E91E63;
    content: '';
    display: block;
    position: relative;
    z-index: 100
}

.option-input.radio {
    border-radius: 50%
}

.option-input.radio::after {
    border-radius: 50%
}


.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -4px !important;
    margin-top: 9px;
}


input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.ml-10 {
    margin-left: 10px;
    font-size: 12px;
    color: #080808;
}



.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}



.fa {
    font-size: 12px;
    color: #2874ef;
}


.refine {
    padding: 0px 0px !important;
}

.filters-text {

    background: #fff;
    border: 1px solid #d5d5d5;
    margin-bottom: 15px;
    padding: 12px;

}

.filter-span {
    font-size: 17px;
    color: #2874ef;
}

/* receipt */
.receipt .panel-title{
    margin-bottom: 0;
}
.receipt .title-card-item{
    color: #0E61C3;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #0E61C3;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
}
.title-receipt .icon-big-blue{
    color: #0E61C3;
    font-size: 24px;
}
.title-receipt h5{
    color: #0E61C3;
    margin-bottom: 0;
    font-style: italic;
    padding: 10px 0;
}
.item-left{
    color: #777;
    margin-bottom: 0;
    padding: 5px 0;
    text-transform: capitalize;
}

.item-right{
    color: #383838;
    margin-bottom: 0;
    padding: 5px 0;
}






/* responsive  */
@media (min-width: 768px){
    .sub-items .name-item {
        width: 21%;
    }
}